<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Comment</title>
</head>
<body>
    <h1>Edit your comment</h1>
    <form action="/comments/<%=foundComment.id%>?_method=PATCH" method="POST">
        <section>
            <label for="comment">Comment</label>
            <br>
            <textarea name="comment" id="comment" cols="30" rows="5"><%= foundComment.comment %></textarea>
        </section>
        <button>Save Edits</button>
    </form>
    <a href="/comments">Go back</a>
</body>
</html>