<%- include('partials/head') %>
<%- include('partials/navbar') %>    

    <h1>
        The Home Page <%= 'hello world' .toUpperCase() %>
    </h1>
    <p>
        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quia quibusdam voluptatum nesciunt earum rerum est odio
        doloribus? Sed aliquam consectetur ad consequuntur rerum odio optio, similique velit architecto eligendi
        blanditiis.
    </p>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa qui excepturi fuga cumque, sed nobis incidunt quas
        eaque modi enim corrupti dolor quidem adipisci facilis hic saepe, quam in voluptatibus.
        Aspernatur hic reiciendis asperiores quasi ad ullam consequatur enim odit dolore ipsum. Repudiandae, quas. Fugit
        esse, ad doloribus eaque reprehenderit alias aut accusantium autem debitis eum, eos tempore ea iste!
    </p>

<%- include('partials/footer') %>